#container {

    height: 400px;
    width: 400px;
    border: 2px solid lightseagreen;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

}

.box {

    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 50px;
    display: inline-block;
    background-color: grey;
    text-align: center;

}


#navbar {

    height: 50px;
    width: 900px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    
}

.nav {

    height: 50px;
    width: 80px;
    border-radius: 10px;
    margin-left: 5px;
    line-height: 50px;
    font-size: 24px;
}